Source: kypo2-angular-topology
Maintainer: Martin Machac <machacm@ics.muni.cz>
Build-depends: debhelper (>= 8.0.0)
Section: misc
Standards-Version: 3.9.8

Package: kypo2-angular-topology
Architecture: any
Depends: ${misc:Depends}
Priority: optional
Description: KYPO topology graph component
 Topology Graph Component is an Angular library using D3.js to visualize network graph topology.
